 <div class="bg-white p-0">
    <div class="bg-primary page-header">
        <div class="container text-center">
            <h1 class="text-white animated zoomIn mb-3">About Us</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a class="text-white"
                            routerLink>Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white"
                            routerLink="/product">Products</a></li>
                    <li class="breadcrumb-item text-white active"
                        aria-current="page" routerLink="/about">About</li>
                </ol>
            </nav>
        </div>
    </div>

    <!-- About Start -->
    <div *ngFor="let section of sections">
        <div class="py-6" *ngIf="section.id == 1">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow zoomIn" data-wow-delay="0.1s">
                        <img class="img-fluid"
                            [src]="baseUrl + '/' + section.file_path"
                            alt="Section Image">
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div
                            class="d-inline-block border rounded-pill text-primary px-4 mb-3">About
                            Us</div>
                        <h2 class="mb-4">{{ section.header_name }}</h2>
                        <p class="mb-4">{{ section.description }}</p>
                        <div class="row g-3 mb-4" *ngIf="itemsMap[section.id]">
                            <div class="col-12 d-flex"
                                *ngFor="let item of itemsMap[section.id]">
                                <div
                                    class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i [class]="item.icon"></i>
                                </div>
                                <div class="ms-4">
                                    <h6>{{ item.subtitle }}</h6>
                                    <span>{{ item.description }}</span>
                                </div>
                            </div>
                        </div>

                        <a class="btn btn-primary rounded-pill py-3 px-5 mt-2"
                            href>Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <!-- Features Start -->
        <div class="py-6" *ngIf="section.id == 2">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                        <div
                            class="d-inline-block border rounded-pill text-primary px-4 mb-3">Features</div>
                        <h2 class="mb-4">{{ section.header_name }}</h2>
                        <p class="description-text">{{ section.description
                            }}</p>
                        <a class="btn btn-primary rounded-pill py-3 px-5 mt-2"
                            href>Read More</a>
                    </div>
                    <div class="col-lg-7" *ngIf="itemsMap[section.id]">
                        <div class="row g-5">
                            <div class="col-sm-6 wow fadeIn"
                                data-wow-delay="0.1s"
                                *ngFor="let item of itemsMap[section.id]">
                                <div class="d-flex align-items-center mb-3">
                                    <div
                                        class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                        <i [class]="item.icon"></i>
                                    </div>
                                    <h6 class="mb-0">{{ item.subtitle }}</h6>
                                </div>
                                <span>{{ item.description }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Features End -->
    </div>

    <!-- Team Start -->
    <div class="py-6">
        <div class="container">
            <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s"
                style="max-width: 600px;">
                <div
                    class="d-inline-block border rounded-pill text-primary px-4 mb-3">Our
                    Team</div>
                <h2 class="mb-5">Meet Our Team Members</h2>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-3 col-md-6 wow fadeInUp"
                    *ngFor="let member of teamMembers; let i= index"
                    data-wow-delay="0.1s">
                    <div class="team-item">
                        <h5>{{member.name}}</h5>
                        <p class="mb-4">{{member.designation}}</p>
                        <img class="img-fluid rounded-circle w-100 mb-4"
                            [src]="member.profile_image ? apiService.getBaseUrl() + '/' +  member.profile_image: 'assets/team-1.jpg'"
                            alt="{{member.name}}">
                        <div class="d-flex justify-content-center">
                            <a *ngFor="let social of member.social_links"
                                class="btn btn-square text-primary bg-white m-1"
                                [href]="social.url" target="_blank">
                                <i [class]="social.icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->

</div>