 <div class="bg-white p-0">

    <div class="bg-primary page-header">
        <div class="container text-center">
            <h1 class="text-white animated zoomIn mb-3">Services</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a class="text-white"
                            routerLink>Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white"
                            routerLink="/blogs">Blogs</a></li>
                    <li class="breadcrumb-item text-white active"
                        aria-current="page" routerLink="/services">Services</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Service Start -->
    <div class="py-6">
        <div class="container">
            <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s"
                style="max-width: 600px;">
                <div
                    class="d-inline-block border rounded-pill text-primary px-4 mb-3">Our
                    Services</div>
                <h2 class="mb-5">We Provide Solutions On Your Business</h2>
                <p class="mb-4">At Azhal IT Solutions, we provide end-to-end IT
                    services that help businesses scale with confidence. From
                    custom software and mobile app development to cloud
                    solutions, consulting, and support, we ensure seamless
                    digital transformation. Our expert team focuses on
                    delivering secure, scalable, and user-friendly solutions
                    tailored to your goals.</p>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp"
                    *ngFor="let item of serviceContents; let i = index"
                    [attr.data-wow-delay]="'0.1s'">
                    <div class="service-item rounded h-100">
                        <div class="d-flex justify-content-between">
                            <div class="service-icon">
                                <i [class]="item.icon"></i>
                            </div>
                            <!-- <a class="service-btn" href="#">
                                <i class="fa fa-link fa-2x"></i>
                            </a> -->
                        </div>
                        <div class="p-5">

                            <h5 class="mb-3">{{ item.header_name }}</h5>
                            <span>
                                {{ item.showFullText ? item.description :
                                (item.description | slice:0:150) }}
                                <span
                                    *ngIf="!item.showFullText && item.description.length > 150">...</span>
                            </span>

                            <button *ngIf="item.description.length > 150"
                                (click)="toggleServiceText(i)"
                                class="btn btn-link p-0">
                                {{ item.showFullText ? 'Read Less' :
                                'Read More' }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

    <!-- Testimonial Start -->
    <div class="py-6">
        <div class="container">
            <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s"
                style="max-width: 600px;">
                <div
                    class="d-inline-block border rounded-pill text-primary px-4 mb-3">Testimonial</div>
                <h2 class="mb-5">Voices of Experience</h2>
            </div>

            <!-- Tabs -->
            <ul class="nav nav-tabs justify-content-center mb-4" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="intern-tab"
                        data-bs-toggle="tab" data-bs-target="#intern"
                        type="button" role="tab">
                        Rising Stars
                    </button>
                </li>
               
                 <li class="nav-item" role="presentation">
                    <button class="nav-link" id="client-tab"
                        data-bs-toggle="tab" data-bs-target="#client"
                        type="button" role="tab">
                        Happy Clients
                    </button>
                </li>

                 <li class="nav-item" role="presentation">
                    <button class="nav-link" id="client-tab"
                        data-bs-toggle="tab" data-bs-target="#client"
                        type="button" role="tab">
                        Rewiews
                    </button>
                </li>
            </ul>

            <!-- Tab Content -->
            <div class="tab-content">
                <!-- Interns -->
                <div class="tab-pane fade show active" id="intern"
                    role="tabpanel">
                    <div class="owl-carousel intern-carousel"
                        *ngIf="internTestimonials.length">
                        <div class="item testimonial-item rounded p-4"
                            *ngFor="let t of internTestimonials">
                            <i
                                class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                            <p>{{ t.message }}</p>
                            <div class="d-flex align-items-center">
                                <img
                                    class="img-fluid flex-shrink-0 rounded-circle"
                                    [src]="t.image" [alt]="t.name">
                                <div class="ps-3">
                                    <h6 class="mb-1">{{ t.name }}</h6>
                                    <small>{{ t.profession }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Clients -->
                <div class="tab-pane fade" id="client" role="tabpanel">
                    <div class="owl-carousel client-carousel"
                        *ngIf="clientTestimonials.length">
                        <div class="item testimonial-item rounded p-4"
                            *ngFor="let t of clientTestimonials">
                            <i
                                class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                            <p>{{ t.message }}</p>
                            <div class="d-flex align-items-center">
                                <img
                                    class="img-fluid flex-shrink-0 rounded-circle"
                                    [src]="t.image" [alt]="t.name">
                                <div class="ps-3">
                                    <h6 class="mb-1">{{ t.name }}</h6>
                                    <small>{{ t.profession }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

</div>