@import "bootstrap/scss/bootstrap";

// Variables
$primary: #00B98E;
$light: #F3F6F8;
$dark: #0E2E50;
html, body {
  overflow-x: hidden;
  width: 100%;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;

  &.show {
    transition: opacity 0.5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
  }
}

/*** Back to Top ***/
.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

.my-6 {
  margin: 6rem 0;
}

.py-6 {
  padding: 6rem 0;
}

/*** Button ***/
.btn {
  font-weight: 500;
  transition: 0.5s;

  &.btn-primary,
  &.btn-outline-primary:hover {
    color: #fff;
  }

  &-square {
    width: 38px;
    height: 38px;
  }

  &-sm-square {
    width: 32px;
    height: 32px;
  }

  &-lg-square {
    width: 48px;
    height: 48px;
  }

  &-square,
  &-sm-square,
  &-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
  }
}

/*** Navbar ***/
.navbar {
  .navbar-nav {
    .nav-link {
      position: relative;
      margin-left: 25px;
      padding: 35px 0;
      color: #fff;
      font-weight: 500;
      outline: none;
      transition: 0.5s;

      &:hover,
      &.active {
        color: #fff;
      }
    }
  }

  .navbar-brand {
    h1 {
      color: #fff;
    }

    img {
      max-height: 90px;
      transition: 0.5s;
      object-fit: cover;
    }
  }

  &.sticky-top {
    .navbar-nav .nav-link {
      padding: 20px 0;
      color: $dark;

      &:hover,
      &.active {
        color: $primary;
      }
    }

    .navbar-brand {
      img {
        max-height: 45px;
      }

      h1 {
        color: $primary;
      }
    }
  }

  @media (max-width: 991.98px) {
    &.sticky-top {
      position: relative;
      background: #fff;
    }

    .navbar-collapse {
      margin-top: 15px;
      border-top: 1px solid #ddd;
    }

    .navbar-nav .nav-link {
      padding: 10px 0;
      margin-left: 0;
      color: $dark;

      &:hover,
      &.active {
        color: $primary;
      }
    }

    .navbar-brand {
      h1 {
        color: $primary;
      }

      img {
        max-height: 45px;
      }
    }
  }

  @media (min-width: 992px) {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 999;

    &.sticky-top {
      position: fixed;
      background: #fff;
    }

    .navbar-nav .nav-link {
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        bottom: 10px;
        left: 0;
        background: #fff;
        opacity: 0;
        transition: 0.5s;
      }

      &:hover::before,
      &.active::before {
        bottom: -1px;
        opacity: 1;
      }

      &.nav-contact::before {
        display: none;
      }
    }

    .sticky-top & .navbar-nav .nav-link::before {
      background: $primary;
    }

    .nav-item {
      .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: 0.5s;
        opacity: 0;
      }

      &:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

/*** Hero Header ***/
.hero-header {
  margin-bottom: 0;
  padding: 12rem 0 9rem;
  background: url(assets/shape-bottom.png) center bottom no-repeat;

  @media (max-width: 991.98px) {
    padding: 6rem 0 9rem;
  }
}
/* background for large screens (desktop) */
@media (min-width: 2000px) {
  .hero-header {
    background: url(assets/shape-desktop.png) center bottom no-repeat;
    background-size: cover;
  }
}

.page-header {
  // margin-bottom: 6rem;
  // padding: 12rem 0 6rem;
  margin-bottom: 0rem;
  padding: 8rem 0 2rem;

  @media (max-width: 991.98px) {
    padding: 6rem 0;
  }

  .breadcrumb-item+.breadcrumb-item::before {
    color: rgba(255, 255, 255, 0.5);
  }
}

/*** Service ***/
.service-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.07);
  border: 1px solid transparent;
  transition: 0.5s;

  &:hover {
    box-shadow: none;
    border-color: $primary;
  }

  .service-icon,
  .service-btn {
    margin: -1px 0 0 -1px;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: $primary;
    border-radius: 5px 0;
    transition: 0.5s;
  }

  .service-btn {
    margin: -1px -1px 0 0;
    border-radius: 0 5px;
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }
}

/*** Testimonial ***/
.testimonial-carousel {
  .owl-item {
    .testimonial-item {
      box-shadow: 0 0 45px rgba(0, 0, 0, 0.07);
      border: 1px solid transparent;
      transform: scale(0.85);
      transition: 0.5s;

      img {
        width: 50px;
        height: 50px;
      }
    }

    &.center .testimonial-item {
      box-shadow: none;
      border-color: $primary;
      transform: scale(1);
    }
  }

  .owl-nav {
    margin-top: 20px;
    display: flex !important;
    justify-content: center;

    .owl-prev,
    .owl-next {
      margin: 0 12px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $primary;
      border: 1px solid $primary;
      border-radius: 45px;
      transition: 0.5s;

      &:hover {
        color: #fff;
        background: $primary;
      }
    }
  }
}

/*** Team ***/
.team-item {
  position: relative;
  padding: 30px;
  text-align: center;
  transition: 0.5s;
  z-index: 1;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 40%;
    left: 0;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.07);
    transition: 0.5s;
    z-index: -1;
  }

  &::after {
    top: auto;
    bottom: 0;
  }

  &:hover {

    &::before,
    &::after {
      background: $primary;
    }

    h5,
    p {
      color: #fff;
    }
  }

  h5,
  p {
    transition: 0.5s;
  }

  img {
    padding: 15px;
    border: 1px solid $primary;
  }
}

/*** Footer ***/
.footer {
  .btn.btn-social {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $light;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    transition: 0.3s;

    &:hover {
      color: $primary;
    }
  }

  .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: $light;
    font-weight: normal;
    transition: 0.3s;

    &::before {
      position: relative;
      content: "\f105";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      margin-right: 10px;
    }

    &:hover {
      letter-spacing: 1px;
      box-shadow: none;
    }
  }

  .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    a {
      color: $light;
    }
  }

  .footer-menu {
    a {
      margin-right: 15px;
      padding-right: 15px;
      border-right: 1px solid rgba(255, 255, 255, 0.1);

      &:last-child {
        margin-right: 0;
        padding-right: 0;
        border-right: none;
      }
    }
  }
}

.description-text {
  white-space: pre-line;
}

img.img-fluid.flex-shrink-0.rounded-circle {
  width: 50px;
}


.member-name {
  padding-top: 30px;
}